/* color pallets FFB6B9,fae3d9, bbded6, 8ac6d1*/

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size:200%;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color:#66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color:#66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  margin-top: 0;
  color: #40514E;
  line-height: 200%;
}

hr {
  border-top: 10px dotted #D9CCD1;
  width: 5%;
}

a {
  text-decoration: none;
  color: #11999E;
  position: relative;
  top: 41px;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}

a:hover{
  color: #eaf6f6;
}

.TopContainer {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.subtitle {
  font-weight: normal;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top:50px;
}

.pro {
  text-decoration: underline;
  font-weight: bold;
}


.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.MiddleContainer {

}

.profile{
  width: 50%;
  text-align: center;
  margin: 100px auto 100px auto;
}

.profile-pic{
  width: 25%;
  height:25%;
}


.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.image-bilingual{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.image-pm{
  width: 25%;
  float: right;
  margin-left: 30px;
}


.image-crossfit{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.image-baking{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me {
  width: 50%;
  margin: 00px auto 100px auto;
}

.contact_me {
  color: #66BFBF;
}

.Contact_me_button {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.Contact_me_button:hover {
   border: solid #337FED 0;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}

.BottomContainer{
  background-color: #66BFBF;
  position: relative;
  padding-bottom: 100px;
}

.copyright {
  color: #EAF6F6;
  position: relative;
  top: 80px;
  font-size: 70%;
  font-family: 'Montserrat', sans-serif;
}
